* > {
  box-sizing: border-box;
  
}

/* common formatting  */

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #f3f1f1;
}
main {
  display: flex;
  flex-direction: column;
}

/* typography */

h4 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
}

/* formatting */

header {
  top: 0;
  position: sticky;
  padding: 10px;
  display: flex;
  border-bottom: 2px solid #C3C3C3;
  height: 3rem;
  align-items: center;
  background: #FDC3BC;
}

.header-navbar {
  margin-left: auto;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  height: 1.5rem;
  
}

.navbar-item {
  display: flex;
  align-items: center;
}

.navbar-item:hover {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #808080;
}


.navbar-item img {
  width: 1.7rem;
}

.navbar-item a{

  color: #808080;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 0.2rem;

}


.projects img {
   width:2.4rem;
   margin:  0 -0.2rem;
}

.btn {
  padding: 0.5rem;
  background-color: #fa8072;
  color: black;
  border-radius: 5px;
  margin-right: 0;

}


.btn:hover {
  background-color: #C3C3C3;
  transform: scale(1.2);
}



/* hero formatting */


.hero {
  margin-top: -5rem;
  background:rgb(240, 229, 229);
  height: 55rem;
  display: flex;
}


.section {
  display: flex;
  width: 85rem;
  margin: auto;
  font-size: 1.3rem;
  justify-content: space-between;
  
}

.introduction h1 {
  font-size: 5rem;
  margin-bottom: 0;
  margin-top: 0;
}

.job-title {
  margin-top: 0;
}

.introduction .left-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.introduction .right-container {
  display: flex;
  justify-content: center;
  align-items: center;
 

}

.profile-picture {
  max-height:400px;
  width: 400px;
  object-fit: cover;
  object-position: top -10px right 0px;
  border-radius: 5rem;
  display: block;
  

}



.intro-links {
  display: flex;
  gap: 1rem;

}

.intro-links a {
  margin-right: 0;
  text-align: center;
  font-size: 1.5rem;
}


/* Skills formatting */

.skills{
    height: 46rem;
    display: flex;
}

.section-title /*applies to all sections */
{
font-size: 3rem;
text-decoration: underline  solid 2px #C3C3C3;
margin-bottom: 0;

}

.skills .section {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  height: 30rem
}

.skill-category {
  display: flex;
  align-items: center;
}

.skill-category p, .skill-category h2  {
  margin-right: 0.45rem;
  margin-top: 0;
  margin-bottom: 0;
 

}

.skill-category h2 {
  white-space: nowrap;
}

.skill-category p {
 padding-top: 0.4rem;
}

.skill-category.dev {
  align-items: flex-start;
 }

.dev-tools {
  display: flex;
  flex-wrap: wrap;

}


/* Toolkit Formatting */

.toolkit {
  display: flex;
  align-items: center;
  column-gap: 5px;
  row-gap: 10px;
  flex-wrap: wrap;
}



/* Project Formatting */

.project{
  height: 130rem;
  display: flex;
  
}

.projectcard-container {
  background: #e9e9e9;
  display: flex;
  margin-top: 5rem;
  padding: 3rem;
  border-radius: 3rem;
  align-items: center;
}

.projectcard-container .container-left {
 width: 18rem;
 height: 22rem;
 margin-left: 2rem;

}

.projectcard-container .container-right {
  width: 60%;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-links {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
}


.project-img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  border-radius: 10px;
  margin-right: 25px;
}

/* contact formatting  */

.contact{
  height: 40rem;
  display: flex;
}

.contact-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.contact-options {
  display: flex;
  gap: 5rem;
}


.option {
  width:16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


.icon-box{ 
  padding: 0.5rem;
  background-color: #fa8072;
  border-radius: 100%;
  padding: 1rem;
  
}

.option img { 
  width: 3rem;
}

.option a {
  color: black;
}

/* footer formatting */

footer {
  border-top: 2px solid #C3C3C3;
  margin-top: auto;
  padding: 0.01rem;
  text-align: center;
  color: #808080;
  background: #FDC3BC;
}

/* utilitity selectors */

.light {
  font-weight: 300;
}

.regular {
  font-weight: 500;
}

.bold {
  font-weight: 800;
}



/* media queries  */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


/* formatting */

header {
  padding: 0.5rem;
  height: 1rem;

}


header h4 {
  font-size: 1rem;

}

.header-navbar {
  gap: 0;
  
}


.navbar-item img {
  width: 0.7rem;
}

.navbar-item a{
  margin-right: 0.4rem;
  font-size: 0.45rem;
  margin-left: 0.1rem;

}


.projects img {
   width:1.1rem;
   margin:  0 -0.1rem;
}

.btn {
  padding: 0.25rem;
  border-radius: 0.2rem;
}

.header-navbar a {
  font-size: 0.45rem;
}

/* hero formatting */

.hero {
    margin-top: -1.5rem;
    height: 20rem;
    padding-top: 1.5rem;
    
}

.section {
  width: 19rem;
  font-size: 0.5em;
  display: flex;
  gap: 1rem;
  flex-direction: column-reverse;
  
}

.hero .section {
  align-items: center;
  
}

.introduction h1 {
  font-size: 1rem;

}

.introduction .left-container {
  width: 100%;

  text-align: center;
}

.about-me {
  margin: 0.7rem 0;
}

.profile-picture {
  max-height:8rem;
  width: 8rem;
  border-radius: 1rem;

}



.intro-links {
  padding: 0;
  gap: 0.5rem;

  justify-content: center;

}

.intro-links a {
  font-size: 0.5rem;
}




/* Skills formatting */

.skills{
  height: 15rem;
}

.section-title /*applies to all sections */
{
font-size: 1rem;
}

.skills .section {
font-size: 0.5rem;
height: 10rem
}


.skill-category p, .skill-category h2  {
margin-right: 0.3rem;
margin-top: 0;
margin-bottom: 0;


}

.skill-category p {
padding-top: 0.1rem;
}

/* Toolkit Formatting */

.toolkit {
  display: flex;
  align-items: center;
  column-gap: 5px;
  row-gap: 0;
  flex-wrap: wrap;
}



/* Project Formatting */

.project{
  height: 60rem;
}

.projectcard-container {
  width: 19rem;
  margin-top: 1rem;
  padding: 0;
  border-radius: 1rem;
  align-items: center;
  font-size: 0.8em;
  flex-direction: column;
  justify-content: center;
}

.projectcard-container h1 {
  margin: 0rem;
}


.projectcard-container .container-left {
 padding: 1rem 0;
 width: 7rem;
 height: 7rem;
 margin: 0;

}

.projectcard-container .container-right {
  margin: 0;
  text-align: center;
  width: 90%;
  gap: 0.5rem;

  padding-bottom: 1rem

}

.projectcard-container .toolkit {
  justify-content: center;
}

.project-links {
  display: flex;
  gap: 0.5rem;
  margin-top: 0;
  justify-content: center;
}


/* contact formatting  */

.contact{
  height: 25rem;
}

.contact-container {
  margin-top: 5rem;
  gap: 1rem;
  flex-direction: column;

}

.contact-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.option {
  gap: 0.5rem;
  font-size: 0.5rem;
}


.icon-box{  
  padding: 0.5rem;
  
}

.option img { 
  width: 1.5rem;
}

.option a {
  margin-right: 0;
}

/* footer formatting */

footer {
  font-size: 0.5rem;
}


}

