* > {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #f3f1f1;
}
main {
  display: flex;
  flex-direction: column;
}

/* typography */

h4 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
}

/* formatting */

header {
  padding: 10px;
  display: flex;
  border-bottom: 2px solid #C3C3C3;
  height: 3rem;
  align-items: center;
  background: #FDC3BC;
}

.header-navbar {
  margin-left: auto;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  height: 1.5rem;
  
}

.navbar-item {
  display: flex;
  align-items: center;
}

.navbar-item:hover {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #808080;
}


.navbar-item img {
  width: 1.7rem;
}

.projects img {
   width:2.4rem
}

.btn {
  padding: 5px;
  background-color: #fa8072;
  color: black;
  border-radius: 5px;
}

.btn:hover {
  background-color: #C3C3C3;
}

a {
  color: #808080;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 0.2rem;
}


/* hero formatting */


.hero {
  background:rgb(240, 229, 229);
  height: 42rem;
  display: flex;
}


.section {
  display: flex;
  width: 85rem;
  margin: auto;
  font-size: 1rem;
  justify-content: space-between;
  border: 2px solid white;

}

.introduction h1 {
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 0;
}

.job-title {
  margin-top: 0;
}

.introduction .left-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.introduction .right-container {
  display: flex;
  justify-content: center;
 

}

.profile-picture {
  max-height:400px;
  width: 400px;
  object-fit: cover;
  object-position: top -10px right 0px;
  border-radius: 5rem;
  display: block;
  

}



.intro-links {
  display: flex;
  padding: 0;
  gap: 10px;
}

.intro-links a {
  width: 6rem;
  text-align: center;
  font-size: 1.5rem;
}


/* About formatting */

.skills{
    height: 42rem;
    display: flex;
}


.skills .section {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

.skill-category {
  display: flex;
  align-items: center;
}

.skill-category p, .skill-category h2  {
  margin-right: 0.45rem;
}
 

.skill-category p {
 padding-top: 0.2rem;
}


/* Toolkit Formatting */

.toolkit {
  display: flex;
  column-gap: 5px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.toolkit div {
  border: 1px solid black;
  padding: 5px;
  background-color: salmon;
  border-radius: 5px;
  
}

/* Project Formatting */

.project{
  height: fit-content;
  padding-top: 100px;
  
}

.projectcard-container {
  display: flex;
  margin-bottom: 100px;
}

.project-img {
  max-height:350px;
  width: 350px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 25px;
}


/* utilitity selectors */

.light {
  font-weight: 300;
}

.regular {
  font-weight: 500;
}

.bold {
  font-weight: 800;
}



